body {text-align: center;
    
}
header {
background-color: rgba(128, 128, 128, 0.11);
    width: 1200px;
    height: 105px;
        font-family: Chonburi;
        font-size: 110px;
        color: white;
        text-align: right;
}
h1 {
    text-align: center; 
}
 .flex-container {
    text-align: justify;
    font-size: 30;
    font-family: Quicksand;
    color: gray;
    text-align: center;
}
p{
    text-align: center;
    
}