header {
    background-color: rgba(128, 128, 128, 0.11);
    width: 900px;
    height: 105px;
        font-family: Chonburi;
        font-size: 115px;
        color: white;
        text-align: right;
}
h1.relative {
    position: relative;
    bottom: 100px;
    font-family: Chonburi;
    font-size: 32px;
    width: 900px;
    
    color: black;
    text-align: center;
    }
    img.background {
        position: relative;
        opacity: 0.8;
    }
        .container-fluid {
        width: 900px;
    } 
    .header2 {
    background-color: rgba(128, 128, 128, 0.11);
    width: 900px;
    height: 60px;
    font-size: 50px;
    color: white;
    position: relative;
    margin: 0px 0px 10px 0px;
    
    }
        .header3 {
    background-color: rgba(128, 128, 128, 0.11);
    width: 900px;
    height: 60px;
    font-size: 50px;
    color: white;
    position: relative;
    margin: 0px 0px 10px 0px;
    text-align: end;
    
    }
    footer{background-color: rgba(128, 128, 128, 0.11);

        width: 900px;
        height: 500px;
        
        
    }
h5.text-right {
            font-family: Chonburi;
        color: white;
        font-size: 60px;
        text-align: right;
        
}