body {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: rgba(224, 224, 224, 1);
    width: 1200px;
    height: 115px;
    font-family: Chonburi;
    font-size: 108px;
    color: white;
    text-align: right;
}

.container {
width: 200px;



}

 #plane {
     width:1200px; 
     height:600px;
}

#left{
   margin: 0 auto;
   width: 400px;
   height: 500px;
}
#right{
    margin: 0 auto;
}

p {
    font-weight: bold;
    width: 400px;
    margin: 0 auto;
    position: relative;
    font-family: Quicksand;
    font-size: 22px;
    color: gray;
    text-decoration: none;
}

.header2 {
    background-color: rgba(224, 224, 224, 1);
    width: 1200px;
    height: 60px;
    font-size: 50px;
    font-family: Chonburi;
    color: white;
    position: relative;
    margin: 0px 0px 10px 0px;
}
.picture { 
    width: 295px; 
height: 295px; 
    
}

.header3 {
    background-color: rgba(224, 224, 224, 1);
    width: 1200px;
    height: 60px;
    font-size: 50px;
    font-family: Chonburi;
    color: white;
    position: relative;
    margin: 0px 0px 10px 0px;
    text-align: right;
    text-decoration: none;
}

footer {
    margin: 0 auto;
    background-color: rgba(224, 224, 224, 1);
    width: 1200px;
    height: 700px;
    font-family: Quicksand;
   
}
.logo {
    width: 50px; 
    height: 50px;
}



.text-right {
    font-family: Chonburi;
    color: white;
    font-size: 60px;
    text-align: right;
    margin: 0 auto;
}

.iframe {
    float: right;
    width: 1200px;
}

.form-group {
    flex-direction: column;
    font-weight: bold;
}

.btn-default {
width: 100px;    
}
a {
    text-decoration: none;
    color: white;
}
.map {
    margin: 0 auto;
    width: 900px;
    height: 400px;
} 
.video {
    margin: 0 auto;
    width: 900px; 
    height: 450px;
}
#eurotrip
{
    margin: 0 auto;
    font-family: Quicksand;
    font-size: 22px;
    color: gray;
    
}
#namevideo {
    text-align: center;
}