body {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: rgba(224, 224, 224, 1);
    width: 1200px;
    height: 115px;
    font-family: Chonburi;
    font-size: 108px;
    color: white;
    text-align: right;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: right;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

 #plane {
     width:1200px; 
     height:600px;
}

#left{
   margin: 0 auto;
   width: 400px;
   height: 500px;
}
#right{
    margin: 0 auto;
}
p {
    font-weight: bold;
    width: 400px;
    margin: 0 auto;
    position: relative;
    font-family: Quicksand;
    font-size: 22px;
    color: gray;
   
}

.header2 {
    background-color: rgba(224, 224, 224, 1);
    width: 1200px;
    height: 60px;
    font-size: 50px;
    font-family: Chonburi;
    color: white;
    position: relative;
    margin: 0px 0px 10px 0px;
}
.picture { 
    width: 295px; 
height: 295px; 
    
}

.header3 {
    background-color: rgba(224, 224, 224, 1);
    width: 1200px;
    height: 60px;
    font-size: 50px;
    font-family: Chonburi;
    color: white;
    position: relative;
    margin: 0px 0px 10px 0px;
    text-align: right;
    text-decoration: none;
}

footer {
    background-color: rgba(224, 224, 224, 1);
    width: 1200px;
    height: 600px;
    font-family: Quicksand;
}

.text-right {
    font-family: Chonburi;
    color: white;
    font-size: 60px;
    text-align: right;
    margin: 0 auto;
}

.iframe {
    float: right;
}

.form-group {
        display: flex;
    flex-direction: column;
    font-weight: bold;

input.btn.btn-default {
width: 100px;    
}